body{
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    padding-top: 10%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(247, 179, 54), salmon);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;
}